@model Escon.SisctNET.Model.Company

@if (Model.CountingTypeId == 1)
{
    <!-- Empresa Lucro Real -->
    @await Html.PartialAsync("_NoPermissionTaxReal", Model, new ViewDataDictionary(ViewData))
}
else if (Model.CountingTypeId == 2)
{
    <!-- Empresa Lucro Presumido -->
    @await Html.PartialAsync("_NoPermissionTaxPresumido", Model, new ViewDataDictionary(ViewData))
}
else if (Model.CountingTypeId == 3)
{
    <!-- Empresa Simples -->

}
else
{
    <p style="text-align:center;color:red;"><strong>ESCOLHA O TIPO DA EMPRESA</strong></p>
}