@model Escon.SisctNET.Model.Company
@if (Model.CountingTypeId == 1 || Model.CountingTypeId == 2 || Model.CountingTypeId == 3)
{
    <div class="col-lg-12">
        <form asp-action="Tax" method="post">
            @if (Model.CountingTypeId == 1)
            {
                <!-- Empresa Lucro Real -->
                @await Html.PartialAsync("_PermissionTaxReal", Model, new ViewDataDictionary(ViewData))
            }
            else if (Model.CountingTypeId == 2)
            {
                <!-- Empresa Lucro Presumido -->
                @await Html.PartialAsync("_PermissionTaxPresumido", Model, new ViewDataDictionary(ViewData))
            }
            else if (Model.CountingTypeId == 3)
            {
                <!-- Empresa Simples -->
            }
            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    @Html.LabelFor(model => model.Sped, "Gerar Sped", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Sped, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "success", @data_offstyle = "danger", @readonly = "true" })
                        </label>
                    </div>
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label class="control-label">Tributação</label>
                    <select class="form-control selectoption" name="taxation">
                        @if (Model.Taxation == "Produto")
                        {
                            <option value="Produto" selected>Produto</option>
                            <option value="NCM">NCM</option>
                        }
                        else if (Model.Taxation == "NCM")
                        {
                            <option value="Produto">Produto</option>
                            <option value="NCM" selected>NCM</option>
                        }
                        else
                        {
                            <option value="Produto">Produto</option>
                            <option value="NCM">NCM</option>
                        }
                    </select>
                   
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                <input type="submit" value="Confirmar" class="btn btn-success pull-right" />
            </div>
        </form>
    </div>
}
else
{
    <p style="text-align:center;color:red;"><strong>ESCOLHA O TIPO DA EMPRESA</strong></p>
}