@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">

        <a asp-controller="Home" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        
        <h3 class="box-title">
            <strong>Incentivo</strong>
        </h3>
        <div style="text-align:center;">
            <strong> @Model.SocialName - @Model.Document</strong>
        </div>
        <br />
    </div>

    <div class="box-body">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-lg-9 col-md-6 col-xs-12">
                    <label asp-for="AnnexId" class="control-label"></label>
                    <input asp-for="Annex.Description" class="form-control" disabled />
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label asp-for="Percentual" class="control-label"></label>
                    <input asp-for="Percentual" class="form-control" disabled />
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Icms" class="control-label"></label>
                    <input asp-for="Icms" class="form-control" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <br />
                    <div>
                        <strong>Transferências</strong>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite %</label>
                    <input asp-for="Transferencia" class="form-control" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente %</label>
                    <input asp-for="TransferenciaExcedente" class="form-control" disabled />
                </div>

                <div class="col-lg-1 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Fecop" class="control-label"></label>
                    <input asp-for="Fecop" class="form-control money" disabled/>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Funef" class="control-label"></label>
                    <input asp-for="Funef" class="form-control" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <br />
                    <strong>Venda p/ Contribuinte</strong>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite %</label>
                    <input asp-for="VendaContribuinte" class="form-control" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente %</label>
                    <input asp-for="VendaContribuinteExcedente" class="form-control" disabled />
                </div>
                <div class="col-lg-1 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Suspension" class="control-label"></label>
                    <input asp-for="Suspension" class="form-control" disabled />
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Cotac" class="control-label"></label>
                    <input asp-for="Cotac" class="form-control" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <br />
                    <strong>Venda p/ CPF/Não Contribuinte</strong>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite</label>
                    <input asp-for="VendaCpf" class="form-control" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente</label>
                    <input asp-for="VendaCpfExcedente" class="form-control" disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label asp-for="TransferenciaInter" class="control-label"></label>
                    <input asp-for="TransferenciaInter" class="form-control money" disabled />
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label asp-for="VendaMGrupo" class="control-label"></label>
                    <input asp-for="VendaMGrupo" class="form-control money" disabled />
                </div>
            </div>
        </div>
    </div>
</div>
