@model Escon.SisctNET.Model.Company
@{
    ViewData["Title"] = "RelatoryExit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="HomeExit" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"> <strong>Relatório:</strong> @Html.DisplayFor(model => model.SocialName) - @Html.DisplayFor(model => model.Document) </h3>

    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <form asp-controller="Icms" asp-action="RelatoryExit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />
                <div class="row">
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Ano</label>
                        <input type="text" name="year" class="form-control" value="@DateTime.Now.ToString("yyyy")" required />
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-xs-12">
                        <label class="control-label">Mês</label>
                        <select name="month" class="form-control selectoption">
                            <option value="Janeiro">Janeiro</option>
                            <option value="Fevereiro">Fevereiro</option>
                            <option value="Março">Março</option>
                            <option value="Abril">Abril</option>
                            <option value="Maio">Maio</option>
                            <option value="Junho">Junho</option>
                            <option value="Julho">Julho</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Setembro">Setembro</option>
                            <option value="Outubro">Outubro</option>
                            <option value="Novembro">Novembro</option>
                            <option value="Dezembro">Dezembro</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-7 col-md-6 col-xs-12">
                        <label class="control-label">Opção</label>
                        <select name="type" class="form-control selectoption" id="status" onchange="ativar_button()">
                            <option value="0">Selecione o tipo</option>
                            <option value="resumocfop">Resumo por CFOP</option>
                            <option value="venda">Icms Excedente</option>
                            <option value="anexo">Venda Ncm Anexo II</option>
                            <option value="foraAnexo">Venda Ncm Fora do Anexo II</option>
                            <option value="incentivo">Incentivo</option>
                            <option value="industria">Incentivo Industria</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <label class="control-label"><strong>Selecione o arquivo</strong></label>
                        <input type="file" class="form-control" name="arquivo" id="file" accept=".txt" required disabled/>
                    </div>

                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <input type="submit" value="Gerar" class="btn btn-success pull-right" id="ativa" disabled="disabled" />
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">

    function ativar_button() {
        var opcao = document.getElementById("status").value;
        if (opcao == "0") {
            document.getElementById("ativa").disabled = true;
        }
        else if (opcao == "incentivo"){
            document.getElementById("file").disabled = false;
            document.getElementById("ativa").disabled = false;
        } else {
            document.getElementById("ativa").disabled = false;
            document.getElementById("file").disabled = true;
        }
    }
</script>