SisctNET.sln
SisctNET.sln.sln
.vs
**/**/**/**/.dll
Escon.SisctNET.API/bin/Debug/netcoreapp2.2/*.cache
Escon.SisctNET.API/obj/
Escon.SisctNET.Fortes/bin/
Escon.SisctNET.Fortes/obj/
Escon.SisctNET.Model/bin/
Escon.SisctNET.Model/obj/
Escon.SisctNET.Repository/bin/
Escon.SisctNET.Repository/obj/
Escon.SisctNET.Service/bin/
Escon.SisctNET.Service/obj/
Escon.SisctNET.Web/bin/
Escon.SisctNET.Web/obj/