
<input type="hidden" id="CpfCnpjIE" value="@ViewBag.document" />
<input type="hidden" id="hddCompanyId" value="@ViewBag.CompanyId" />
<input type="hidden" id="TypeTaxation" value="@ViewBag.TypeTaxation" />

<!--Total-->
<input type="hidden" id="ValorTotal" value="0" />
<input type="hidden" id="PeriodoReferencia" value="@ViewBag.PeriodReferenceDarWs" />

<button type="button" class="btn btn-success pull-right" style="width:320px;" id="btnSendBillet">
    <div id="loaderBillet" class="loader pull-left" style="display:none;"></div>
    ENVIAR BOLETO PARA O CLIENTE
</button>

<script src="~/app/productNote.js"></script>