@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@{
    ViewData["Title"] = "Relatory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table > thead > tr > th {
        border-bottom: 2px solid;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid;
    }
</style>

<div class="box box-primary" style="margin:-10px;">
    <div class="box-header">
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/img/logo-sisct.png" style="width:25%; height:60%; float:left;" />
                    <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
                </div>
            </div>

        </div>

        <div style="text-align:center;">
            <strong>@ViewBag.SocialName - @ViewBag.Document</strong>
        </div>

        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group col-lg-6 col-md-6 col-xs-12">

                        @await Html.PartialAsync("_ReportTypeName", new ViewDataDictionary(ViewData))

                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-xs-12" style="text-align:right;">
                        <strong>Periodo: @ViewBag.Month/@ViewBag.Year </strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="box-body">

        @if (ViewBag.Type == "Geral" || ViewBag.Type == "GNRE" || ViewBag.Type == "IcmsST")
        {
            <div style="width:100%;padding:10px; padding-top:-10px;">
                @if (ViewBag.Type == "Geral")
                {
                    @await Html.PartialAsync("_GeneralReport", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Type == "GNRE")
                {
                    @await Html.PartialAsync("_GnreReport", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Type == "IcmsST")
                {
                    @await Html.PartialAsync("_IcmsSt", new ViewDataDictionary(ViewData))
                }
            </div>
        }

        @if (ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "ProdutoI" || ViewBag.Type == "ProdutoNI" ||
            ViewBag.Type == "ProdutoFP" || ViewBag.Type == "AgrupadoA" || ViewBag.Type == "AgrupadoS" && (ViewBag.Type != "Geral" && 
            ViewBag.Type != "GNRE" && ViewBag.Type != "IcmsST"))
        {
            <div style="width:100%; padding:10px; padding-left:1% ; padding-right:1%;">
                <table class="table" style="font-size:8px; border: 2px solid;">
                    @if (ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "ProdutoI" || ViewBag.Type == "ProdutoNI")
                    {
                        @await Html.PartialAsync("_ProductReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "ProdutoFP")
                    {
                        @await Html.PartialAsync("_ProductFPautaReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "AgrupadoA")
                    {
                        @await Html.PartialAsync("_ProductGroupedAnalyticalReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "AgrupadoS")
                    {
                        @await Html.PartialAsync("_ProductGroupedSyntheticReport", Model, new ViewDataDictionary(ViewData))
                    }

                </table>
            </div>
        }

        
        @if (ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "AgrupadoA" || ViewBag.Type == "AgrupadoS" || 
            ViewBag.Type == "ProdutoNI" || ViewBag.Type == "ProdutoI" && (ViewBag.Type != "Geral" && ViewBag.Type != "GNRE" && 
            ViewBag.Type != "IcmsST"))
        {
            @await Html.PartialAsync("_SummaryProducts", new ViewDataDictionary(ViewData))

        }

        @if ((ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "AgrupadoA" || ViewBag.Type == "AgrupadoS" || 
            ViewBag.Type == "ProdutoNI" || ViewBag.Type == "ProdutoI" && (ViewBag.Type != "Geral" && ViewBag.Type != "GNRE" && 
            ViewBag.Type != "IcmsST")) && ViewBag.TypeTaxation != "Isento")
        {
            @await Html.PartialAsync("_TaxSummary", new ViewDataDictionary(ViewData))

        }

        @if (ViewBag.Incetive == true && ViewBag.Type != "ProdutoNI" && ViewBag.TypeTaxation == "ST" && ViewBag.Anexo != null && 
            (ViewBag.Type != "Geral" && ViewBag.Type != "GNRE" && ViewBag.Type != "IcmsST"))
        {
            <div style="width:100%; padding:10px;">
                @if (ViewBag.TypeTaxation == "ST" && ViewBag.Type != "ProdutoNI")
                {

                     @await Html.PartialAsync("_GeneralReportIncentive", new ViewDataDictionary(ViewData))
                     @await Html.PartialAsync("_GeneralSummaryTaxIncentive", new ViewDataDictionary(ViewData))
                    
                }
                else
                {
                    @await Html.PartialAsync("_IncentiveTaxSummary", new ViewDataDictionary(ViewData))
                }
            </div>
            

        }

    </div>

</div>