@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@{
    ViewData["Title"] = "Relatory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table > thead > tr > th {
        border-bottom: 2px solid;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid;
    }
</style>

<div class="box box-primary" style="margin:-10px;">
    <div class="box-header">
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/img/logo-sisct.png" style="width:25%; height:60%; float:left;" />
                    <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
                </div>
            </div>

        </div>

        <div style="text-align:center;">
            <strong>@ViewBag.SocialName - @ViewBag.Document</strong>
        </div>

        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group col-lg-6 col-md-6 col-xs-12">

                        @await Html.PartialAsync("_ReportTypeName", new ViewDataDictionary(ViewData))

                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-xs-12" style="text-align:right;">
                        <strong>Periodo: @ViewBag.Month/@ViewBag.Year </strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="box-body">

        @if (ViewBag.type == 6 || ViewBag.type == 9)
        {
            <div style="width:100%; overflow:hidden; padding:20px;">
                @if (ViewBag.type == 6)
                {
                    @await Html.PartialAsync("_GeneralReport", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.type == 9)
                {
                    @await Html.PartialAsync("_GnreReport", new ViewDataDictionary(ViewData))
                }
            </div>
        }

        @if (ViewBag.type == 1 || ViewBag.type == 2 || ViewBag.type == 7 || ViewBag.type == 8 || ViewBag.type == 3 || ViewBag.type == 4 || ViewBag.type == 5)
        {
            <div style="width:100%; overflow:hidden; padding:20px; padding-left:1% ; padding-right:1%;">
                <table class="table" style="font-size:8px; border: 2px solid;">
                    @if (ViewBag.type == 1 || ViewBag.type == 2 || ViewBag.type == 7 || ViewBag.type == 8)
                    {
                        @await Html.PartialAsync("_ProductReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.type == 3)
                    {
                        @await Html.PartialAsync("_ProductFPautaReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.type == 4)
                    {
                        @await Html.PartialAsync("_ProductGroupedAnalyticalReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.type == 5)
                    {
                        @await Html.PartialAsync("_ProductGroupedSyntheticReport", Model, new ViewDataDictionary(ViewData))
                    }

                </table>
            </div>
        }

        @if (ViewBag.type == 1 || ViewBag.type == 2 || ViewBag.type == 4 || ViewBag.type == 5 || ViewBag.type == 8 || ViewBag.type == 7 && (ViewBag.type != 6 && ViewBag.type != 9))
        {
            @await Html.PartialAsync("_SummaryProducts", new ViewDataDictionary(ViewData))

        }

        @if ((ViewBag.type == 1 || ViewBag.type == 2 || ViewBag.type == 4 || ViewBag.type == 5 || ViewBag.type == 8 || ViewBag.type == 7 && (ViewBag.type != 6 && ViewBag.type != 9)) && ViewBag.TaxationType != 6)
        {
            @await Html.PartialAsync("_TaxSummary", new ViewDataDictionary(ViewData))

        }

        @if (ViewBag.Incetive == true && ViewBag.type != 8 && ViewBag.type != 9 && ViewBag.TaxationType == 1 && ViewBag.TypeIncetive == true && (ViewBag.type != 6 && ViewBag.type != 9))
        {
            <div style="width:100%; overflow:hidden; padding:20px;">
                @if (ViewBag.TaxationType == 1 && ViewBag.type != 8 && ViewBag.type != 7)
                {
                    @await Html.PartialAsync("_GeneralReportIncentiveEntry", new ViewDataDictionary(ViewData))
                    @await Html.PartialAsync("_GeneralSummaryTaxIncentiveEntry", new ViewDataDictionary(ViewData))
                }
                else
                {
                    @await Html.PartialAsync("_IncentiveTaxSummary", new ViewDataDictionary(ViewData))
                }
            </div>
            

        }

    </div>

</div>