@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "SpedMono";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header" id="hiddenHeader">
        <a asp-controller="Inventory" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"> <strong>Gera Sped:</strong> @Html.DisplayFor(model => model.SocialName) - @Html.DisplayFor(model => model.Document) </h3>

    </div>
    <div class="box-body" id="hiddenBody">
        <div class="col-lg-12">
            <form asp-controller="Home" asp-action="Inventario" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />

                <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-xs-12">
                        <label class="control-label">Data Inicio Inventario</label>
                        <input type="date" class="form-control" name="dateInicial" id="dateInicial" onchange="ativar_button()" required />
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-xs-12">
                        <label class="control-label">Data Final Inventario</label>
                        <input type="date" class="form-control" name="dateFinal" id="dateFinal" onchange="ativar_button()" required />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <label class="control-label"><strong>Selecione o arquivo</strong></label>
                        <input type="file" class="form-control" name="arquivo" id="arquivo" accept=".txt" onchange="ativar_button()" required />
                    </div>
                </div>

                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <input type="submit" value="Gerar" class="btn btn-success pull-right" onclick="show()"  id="ativa" disabled />
                </div>
            </form>
        </div>
    </div>
    <div style="text-align:center; display:none;" id="loading">
        <img src="~/img/carregando.gif" />
    </div>
</div>

<script>
    function ativar_button() {
        var dateInicial = document.getElementById("dateInicial").value;
        var dateFinal = document.getElementById("dateFinal").value;
        var arquivo = document.getElementById("arquivo").value;

        if (dateInicial == "" || dateFinal == "" || arquivo == "") {
            document.getElementById("ativa").disabled = true;

        }
        else {
            document.getElementById("ativa").disabled = false;
        }
    }

    function show() {
        document.getElementById('loading').style.display = 'block';
        document.getElementById('hiddenHeader').style.display = 'none';
        document.getElementById('hiddenBody').style.display = 'none';
    }
</script>
