<div style="width:100%; padding-top:10px;">
    <table style="border:1px solid;">
        <thead>
            <tr>
                <th style="text-align:center;border:1px solid;" width="900px">
                    OPERAÇÕES DE ENTRADAS
                </th>
                <th style="text-align:center;border:1px solid;" width="250px">
                    BASE DE CÁLCULO
                </th>
                <th style="text-align:center;border:1px solid;" width="80px">
                    ALÍQUOTA
                </th>
                <th style="text-align:center;border:1px solid;" width="200px">
                    VALOR DO ICMS
                </th>
            </tr>
            <tr>
                <th style="text-align:right; padding-right:1%; border:1px solid;">TOTAL (a)</th>
                <th style="text-align:right; padding-right:1%; border:1px solid;"></th>
                <th style="text-align:right; padding-right:1%; border:1px solid;"></th>
                <th style="text-align:right; padding-right:1%; border:1px solid;"></th>
            </tr>
        </thead>
    </table>
</div>
