<div style="width:100%; padding-top:10px;">
    <div style="border:2px solid;padding-left:1%;"><strong>2. DADOS DAS OPERAÇÕES</strong></div>
    <table style="border:2px solid; font-size:12px;">
        <thead>
            <tr>
                <th style="text-align:center;border:1px solid;" width="1200px" colspan="8">
                    PARTE I - OPERAÇÕES COM MERCADORIAS NA FORMA DO ART. 783, INCISO I, DO RICMS
                </th>
            </tr>
            <tr>
                <th style="text-align:center;border:1px solid;" width="1200px" colspan="8">
                    A - Operações Internas e Interestaduais, estas a não contribuinte
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;border:1px solid;">
                    NF de Saída
                </td>
                <td style="text-align:center;border:1px solid;">
                    Destinatário
                </td>
                <td style="text-align:center;border:1px solid;">
                    UF
                </td>
                <td style="text-align:center;border:1px solid;">
                    CNPJ
                </td>
                <td style="text-align:center;border:1px solid;">
                    IE
                </td>
                <td style="text-align:center;border:1px solid;">
                    Valor da NF
                </td>
                <td style="text-align:center;border:1px solid;">
                    % de Crédito Presumido
                </td>
                <td style="text-align:center;border:1px solid;">
                    Valor do Crédito
                </td>
            </tr>
            <tr>
                <td style="text-align:right;border:1px solid;padding-right:1%;" colspan="5">
                    TOTAL
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
                <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
                <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
            </tr>
            <tr>
                <th style="text-align:center;border:1px solid;" width="1200px" colspan="8">
                    B - Operações Interestaduais a contribuinte
                </th>
            </tr>
            <tr>
                <td style="text-align:center;border:1px solid;">
                    NF de Saída
                </td>
                <td style="text-align:center;border:1px solid;">
                    Destinatário
                </td>
                <td style="text-align:center;border:1px solid;">
                    UF
                </td>
                <td style="text-align:center;border:1px solid;">
                    CNPJ
                </td>
                <td style="text-align:center;border:1px solid;">
                    IE
                </td>
                <td style="text-align:center;border:1px solid;">
                    Valor da NF
                </td>
                <td style="text-align:center;border:1px solid;">
                    % de Crédito Presumido
                </td>
                <td style="text-align:center;border:1px solid;">
                    Valor do Crédito
                </td>
            </tr>
            <tr>
                <td style="text-align:right;border:1px solid;padding-right:1%;" colspan="5">
                    TOTAL
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
                <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
                <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
            </tr>
        </tbody>
    </table>
</div>
