<thead>
    <tr style="font-size:12px;">
        <th>Cod. Produto</th>
        <th>Produto</th>
        <th>NCM</th>
        <th>CST</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in ViewBag.Products)
    {
        <tr style="font-size:10px;">
            <td>@item[0]</td>
            <td>@item[1]</td>
            <td>@item[2]</td>
            <td>@item[3]</td>
        </tr>
    }
</tbody>