@if (ViewBag.Type == "resumocfop")
{
    <strong>Resumo CFOP</strong>
}
else if (ViewBag.Type == "venda")
{
    <strong>Relatório de Penalidade</strong>
}
else if (ViewBag.Type == "anexo")
{
    <strong>@ViewBag.Anexo</strong>
}
else if (ViewBag.Type == "foraAnexo")
{
    <strong>Ncm Fora Anexo</strong>
}
else if (ViewBag.Type == "incentivo")
{
    <strong>Apuração Icms</strong>
}
else if (ViewBag.Type == "resumoporcfop")
{
    <strong>Resumo por CFOP - @ViewBag.Code</strong>
}
else if (ViewBag.Type == "suspensao")
{
    <div>
        <strong>Suspensão: </strong> @ViewBag.Inicio à @ViewBag.Fim
    </div>
}