@if (ViewBag.Type == "resumoCfop")
{
    <strong>Resumo CFOP</strong>
}

@if (ViewBag.Type == "resumoCfopAnexo")
{
    <strong>Resumo CFOP Anexo</strong>
}

@if (ViewBag.Type == "resumoCfopAnexoAnalitico")
{
    <strong>Resumo CFOP Anexo Analítico</strong>
}

@if (ViewBag.Type == "resumoCfopAnexoDC")
{
    <strong>Resumo CFOP Anexo Débito/Crédito</strong>
}

@if (ViewBag.Type == "resumoCfopForaAnexo")
{
    <strong>Resumo CFOP Fora do Anexo</strong>
}

@if (ViewBag.Type == "resumoCfopForaAnexoAnalitico")
{
    <strong>Resumo CFOP Fora do Anexo Analítico</strong>
}

@if (ViewBag.Type == "resumoCfopForaAnexoDC")
{
    <strong>Resumo CFOP Fora do Anexo Débito/Crédito</strong>
}

@if (ViewBag.Type == "resumoCfopCst")
{
    <strong> Resumo CFOP/CST </strong>
}

@if (ViewBag.Type == "resumoCfopAliq")
{
    <strong> Resumo CFOP/Aliquota </strong>
}

@if (ViewBag.Type == "resumoPorCfop")
{
    <strong> Resumo por CFOP - @ViewBag.Code </strong>
}

@if (ViewBag.Type == "icmsExcedente")
{
    <strong> Relatório de Penalidade</strong>
}

@if (ViewBag.Type == "anexo")
{
    <strong> Venda @ViewBag.Anexo </strong>
}

@if (ViewBag.Type == "foraAnexo")
{
    <strong> Venda Fora Anexo</strong>
}

@if (ViewBag.Type == "incentivo")
{
    <strong> Apuração Icms </strong>
}

@if (ViewBag.Type == "suspensao")
{
    <div>
        <strong> Suspensão: </strong> <br />
        @foreach (var p in ViewBag.Periodos)
        {
            <p> @Convert.ToDateTime(p[1]).ToString("dd/MM/yyyy hh:mm:ss") à @Convert.ToDateTime(p[2]).ToString("dd/MM/yyyy hh:mm:ss") </p>
        }
    </div>
}

@if (ViewBag.Type == "anexoAutoPecas")
{
    <strong> ANEXO CCCXVI </strong>
}

@if (ViewBag.Type == "anexoMedicamento")
{
    <strong> ANEXO CLIX </strong>
}

@if (ViewBag.Type == "produtoST")
{
    <strong> Produtos ST com Base de Cálculo </strong>
}

@if (ViewBag.Type == "tributacaoDiveregente")
{
    <strong> Tributação Divergente(ICMS) </strong>
}


@if (ViewBag.Type != "anexoAutoPecas" || ViewBag.Type != "incentivo" || ViewBag.Type != "venda")
{
    @if (ViewBag.Arquivo == "xmlS")
    {
        <b>(XML SEFAZ)</b>
    }
    else if (ViewBag.Arquivo == "xmlE")
    {
        <b>(XML EMPRESA)</b>
    }
}

