@if (ViewBag.Type == "resumocfop")
{
    <strong>Resumo CFOP</strong>
}
else if (ViewBag.Type == "venda")
{
    <strong>Relatório de Penalidade</strong>
}
else if (ViewBag.Type == "anexo")
{
    <strong>Venda @ViewBag.Anexo</strong>
}
else if (ViewBag.Type == "foraAnexo")
{
    <strong>Venda Fora Anexo</strong>
}
else if (ViewBag.Type == "incentivo")
{
    <strong>Apuração Icms</strong>
}
else if (ViewBag.Type == "resumoporcfop")
{
    <strong>Resumo por CFOP - @ViewBag.Code</strong>
}
else if (ViewBag.Type == "suspensao")
{
    <div>
        <strong>Suspensão: </strong> <br />
        @foreach (var p in ViewBag.Periodos)
        {
            <p>@Convert.ToDateTime(p[1]).ToString("dd/MM/yyyy hh:mm:ss") à @Convert.ToDateTime(p[2]).ToString("dd/MM/yyyy hh:mm:ss")</p>
        }
    </div>
}
else if (ViewBag.Type == "anexoAutoPecas")
{
    <strong> ANEXO CCCXVI</strong>
}
else if (ViewBag.Type == "anexoMedicamento")
{
    <strong> ANEXO CLIX</strong>
}
else if (ViewBag.Type == "vendaforaincentivo")
{
    <strong>Resumo por CFOP Fora do Incentivo</strong>
}
else if (ViewBag.Type == "produtoST")
{
    <strong>Produtos ST com Base de Cálculo</strong>
}