<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;">
                DISCRIMINAÇÃO DAS ENTRADAS
            </th>
            <th style="text-align:center;border:1px solid;" width="30%">
                TOTAL
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:right;border:1px solid;">
                COMPRAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) DEVOLUÇÕES DE COMPRAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) COMPRAS DE TRATORES E IMPLEMENNTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) ENERGIA ELETRICA R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) ALUGUEL - PRÉDIOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) ALUGUEL - MAQUINAS E EQUIPAMENTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) DESPESA - FINANCEIRAS/EMP. E FINANCIAMENTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) DESPESA - DEPRECIACÃO DE MAQ. E EQUIPAMENTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) DESPESA - DESPESA/DEPRECIACÃO/AMORTIZAÇÃO R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <th style="text-align:right;border:1px solid;">
                (=) TOTAL R$
            </th>
            <th style="text-align:right;border:1px solid;">
            </th>
        </tr>
    </tbody>
</table>