<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;">
                DISCRIMINAÇÃO DAS SAÍDAS
            </th>
            <th style="text-align:center;border:1px solid;" width="30%">
                TOTAL
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:right;border:1px solid;">
                VENDAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) DEVOLUÇÕES DE VENDAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) VENDAS DE TRATORES E IMPLEMENNTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <th style="text-align:right;border:1px solid;">
                (=) VENDAS LÍQUIDAS R$
            </th>
            <th style="text-align:right;border:1px solid;">
            </th>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) PRESTAÇÃO DE SERVIÇOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - RECEITAS FINANCEIRAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - GANHO DE CAPITAL R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - RECEITAS DE ALUGUEL R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - JURAS S/CAPITAL PRÓPRIO R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <th style="text-align:right;border:1px solid;">
                (=) TOTAL R$
            </th>
            <th style="text-align:right;border:1px solid;">
            </th>
        </tr>
    </tbody>
</table>