
@{
    ViewData["Title"] = "Relatory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box box-primary">
        <div class="box-header">
            <div style="width:100%; overflow:hidden; padding:20px;">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/img/sisCT.png" style="width:25%; height:60%; float:left;" />
                        <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
                    </div>
                </div>

            </div>

            <div style="text-align:center;">
                <strong>@ViewBag.SocialName - @ViewBag.Document</strong>
            </div>

            <div style="width:100%; overflow:hidden; padding:10px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6 col-md-6 col-xs-12">
                            @await Html.PartialAsync("_ReportTypeName", new ViewDataDictionary(ViewData))
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-12" style="text-align:right;">
                            @if (ViewBag.Type != "imposto" || ViewBag.Trimestre == "Nenhum")
                            {
                                <strong>Periodo: @ViewBag.Month/@ViewBag.Year </strong>
                            }
                            else
                            {
                                <strong>@ViewBag.Trimestre Trimestre</strong>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div style="width:100%; padding:10px;padding-top:5px;">

                @if (ViewBag.Erro == 1)
                {
                    <p style="text-align:center;color:red;"><strong>Escolha o Tipo para a Empresa</strong></p>
                }
                else if (ViewBag.Erro == 2)
                {
                    <p style="text-align:center;color:red;"><strong>Há Ncm não Tributado</strong></p>
                }
                else
                {
                    @if (ViewBag.Type == "resumoCfop")
                    {

                        @await Html.PartialAsync("_CfopSummary", new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "resumoCfopMono")
                    {
                        @await Html.PartialAsync("_CfopSummaryMono", new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "resumoPorCfop")
                    {
                        @await Html.PartialAsync("_SummaryByCfop", new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "resumoNcmMono")
                    {
                        @await Html.PartialAsync("_SummaryNcm", new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "imposto")
                    {
                        @if (ViewBag.Trimestre == "Nenhum")
                        {
                            @await Html.PartialAsync("_TaxMonth", new ViewDataDictionary(ViewData))
                        }
                        else
                        {
                            @await Html.PartialAsync("_TaxTrimestre", new ViewDataDictionary(ViewData))
                            @await Html.PartialAsync("_Irpj", new ViewDataDictionary(ViewData))
                            @await Html.PartialAsync("_Csll", new ViewDataDictionary(ViewData))
                        }
                    }
                }

            </div>
        </div>
    </div>

