@if (SessionManager.GetTipoInSession() == 0)
{
    <h5><b>Entrada</b></h5>
}
else
{
    <h4><b>Saída</b></h4>
}


@if (ViewBag.Opcao == "NFe")
{
    <b>NFe </b>
}
else if (ViewBag.Opcao == "CTe")
{
    <b>CTe</b>
}
else if (ViewBag.Opcao == "Planilha")
{
    <b>Planilha</b>
}

@if (ViewBag.Ordem == "XmlSefaz")
{
    <b>(XML SEFAZ x SPED)</b>
}
else if (ViewBag.Ordem == "XmlEmpresa")
{
    <b>(XML EMPRESA x SPED)</b>
}
else if (ViewBag.Ordem == "SpedXS")
{
    <b>(SPED x XML SEFAZ)</b>
}
else if (ViewBag.Ordem == "SpedXE")
{
    <b>(SPED x XML EMPRESA)</b>
}
else if (ViewBag.Ordem == "DifereValor")
{
    <b>(DIFERENÇA DE TOTAIS)</b>
}
else if (ViewBag.Ordem == "SisCTXS")
{
    <b>(XML SEFAZ x SPED SisCT)</b>
}
else if (ViewBag.Ordem == "SisCTXS")
{
    <b>(XML EMPRESA x SPED SisCT)</b>
}
else if (ViewBag.Ordem == "Malha")
{
    <b>(EXCEL MALHA x SPED)</b>
}