@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="Home" asp-action="Sped" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"> <strong>Sped Corrigido:</strong> @Html.DisplayFor(model => model.SocialName) - @Html.DisplayFor(model => model.Document) </h3>

    </div>
    <div class="box-body">
        <div class="col-lg-12">
            
        </div>
    </div>
</div>
