@model Escon.SisctNET.Model.Company
@{
    ViewData["Title"] = "Relatory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header" id="hiddenHeader">
        <a asp-controller="Home" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"> <strong>Relatório:</strong> @Html.DisplayFor(model => model.SocialName) - @Html.DisplayFor(model => model.Document) </h3>

    </div>
    <div class="box-body" id="hiddenBody">
        <div class="col-lg-12">
            <form asp-controller="ProductNote" asp-action="Relatory" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />
                <div class="row">
                    <div class="form-group col-lg-2 col-md-2 col-xs-12">
                        <label class="control-label">Ano</label>
                        <input type="text" name="year" class="form-control" value="@DateTime.Now.ToString("yyyy")" required />
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-xs-12">
                        <label class="control-label">Mês</label>
                        <select name="month" class="form-control selectoption">
                            <option value="Janeiro">Janeiro</option>
                            <option value="Fevereiro">Fevereiro</option>
                            <option value="Março">Março</option>
                            <option value="Abril">Abril</option>
                            <option value="Maio">Maio</option>
                            <option value="Junho">Junho</option>
                            <option value="Julho">Julho</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Setembro">Setembro</option>
                            <option value="Outubro">Outubro</option>
                            <option value="Novembro">Novembro</option>
                            <option value="Dezembro">Dezembro</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                        <label class="control-label">Tipo de Tributação</label>
                        <select name="typeTaxation" class="form-control selectoption" asp-items="Html.GetEnumSelectList<Escon.SisctNET.Model.TypeTaxation>()"></select>
                    </div>
                    <div class="form-group col-lg-1 col-md-1 col-xs-12">
                        <!-- checkbox -->
                        <div class="form-group clearfix">
                            <div class="icheck-primary d-inline">
                                <input class="form-check-input" type="checkbox" id="isCTe" name="isCTe">
                                <label for="frete">Frete</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                        <label class="control-label">Tipo</label>
                        <select name="type" id="type" class="form-control selectoption" asp-items="Html.GetEnumSelectList<Escon.SisctNET.Model.Type>()" onchange="ativar_button()"></select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                        <label class="control-label">Nota</label>
                        <input type="text" id="nota" name="nota" class="form-control" placeholder="Nota" disabled />
                    </div>
                </div>

                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <input type="submit" value="Gerar" class="btn btn-success pull-right" onclick="show()" />
                </div>
            </form>
        </div>
    </div>
    <div style="text-align:center; display:none;" id="loading">
        <img src="~/img/carregando.gif" />
    </div>
</div>


<script>
    function ativar_button() {
        var tipo = document.getElementById("type").value;
        if (tipo == "6" || tipo == "7" || tipo == "8") {
            document.getElementById("nota").disabled = false;
        }
        else {
            document.getElementById("nota").disabled = true;
        }
    }
    function show() {
        document.getElementById('loading').style.display = 'block';
        document.getElementById('hiddenHeader').style.display = 'none';
        document.getElementById('hiddenBody').style.display = 'none';
    }
</script>

