@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="ProductIncentivo" asp-action="IndexAll" asp-route-id="@Model.Id" siize="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong>Relação de Produtos:</strong> @Model.SocialName - @Model.Document </h3>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <form asp-action="Listagem" method="post">
                <div class="row">
                    <div class="col-lg-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />

                            <div class="form-group col-lg-1 col-md-1 col-xs-12">

                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <label class="control-label">Produtos</label>
                                <select class="form-control selectoption" name="tipo" id="tipo">
                                    @if (Model.Incentive.Equals(true) && Model.TipoApuracao.Equals(false))
                                    {
                                        <option value="Incentivado/Normal">Incentivado/Normal</option>
                                        <option value="Incentivado/ST">Incentivado/ST</option>
                                    }
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-1 col-md-1 col-xs-12">

                            </div>
                            <br />
                            <div class="form-group col-lg-3 col-md-1 col-xs-12">
                                <input type="submit" value="Pesquisar" class="btn btn-success" />
                            </div>


                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

